html.ios, html.ios body{
  height: 100%!important;
}
.pusher {
  padding-top: 62px;
}
.top.menu .item {
  cursor: pointer;
}
.hidden {
  visibility: hidden;
  display: none;
}
.main {
  padding-top: 0.7em;
}

.alloblue {
  color: #00A4DD;
  background-color: #00A4DD;
}
