<template name='cardBrand'>
  {{#if isInRole 'bo'}}

      <div class="ui basic segment">
        {{#if cardBrand.imageId}}
          {{> image imageId=cardBrand.imageId classNames='small right floated'}}
        {{/if}}
        {{#if cardBrand._id}}
        {{> imageEdit imageId=cardBrand.imageId}}
        {{/if}}
        <h3 class="ui header">
          {{#if cardBrand._id}}
            Editer la marque de carte {{cardBrand.name}}
          {{else}}
            Ajouter une marque de carte
          {{/if}}
        </h3>
        {{#autoForm id="editCardBrand" type=type collection="CardsBrands" enctype="multipart/form-data" doc=cardBrand}}
          {{> afQuickField placeholder="schemaLabel" name="name" }}
          {{> afQuickField placeholder="schemaLabel" name="baseline" }}
          <div class="ui grid">
            <div class="two column row">
              <div class="column"><a class="fluid ui button" href="{{pathFor 'cardsBrands'}}">Annuler</a></div>
              <div class="column"><button class="fluid ui positive button" type="submit">Enregistrer</button></div>
            </div>
          </div>
        {{/autoForm}}
        {{#if cardBrand._id}}
          <br>
          <button type="button" class="fluid ui negative button deleteCardBrand">Supprimer</button>
        {{/if}}
      </div>

  {{/if}}
</template>
