<template name='cardBrand'>
  {{#if isInRole 'allo'}}
    <div class="ui main container">
      <div class="ui basic segment">
        {{#if cardBrand.imageId}}
          {{> image imageId=cardBrand.imageId classNames='small right floated'}}
        {{/if}}
        {{#if cardBrand._id}}
        {{> imageEdit imageId=cardBrand.imageId}}
        {{/if}}
        <h3 class="ui header">
          {{#if cardBrand._id}}
            Editer la marque de carte {{cardBrand.name}}
          {{else}}
            Ajouter une marque de carte
          {{/if}}
        </h3>
        {{#autoForm id="editCardBrand" type=type collection="CardsBrands" enctype="multipart/form-data" doc=cardBrand}}
          {{> afQuickField placeholder="schemaLabel" name="name" }}
          {{> afQuickField placeholder="schemaLabel" name="baseline" }}
          <button class="fluid ui positive button" type="submit">Enregistrer</button>
          <br>
          <a class="fluid ui button" href="{{pathFor 'cardsBrands'}}">Annuler</a>
        {{/autoForm}}
        {{#if cardBrand._id}}
          <br>
          <button class="fluid ui negative button deleteCardBrand" >Supprimer</button>
        {{/if}}
      </div>
    </div>
  {{/if}}
</template>
