<template name='editPromotion'>
  {{#if isInRole 'owners'}}

      <div class="ui basic segment">
        <!-- {{#if imageId}}
          {{> image imageId=imageId classNames='small right floated'}}
        {{/if}}
        {{#if _id}}
        {{> imageEdit imageId=imageId}}
        {{/if}} -->
        <h3 class="ui header">
          {{#if _id}}
            Editer la promotion {{name}}
          {{else}}
            Ajouter une promotion
          {{/if}}
        </h3>
        {{#autoForm id="editPromotion" type=type collection="Promotions" enctype="multipart/form-data" doc=this}}
          {{> afQuickField name="name" placeholder="ex: Promo sur la formule aujourd'hui"}}
          {{> afQuickField name="description" placeholder="ex: Venez acheter une formule aujourd'hui et nous vous donnons 50 centimes d'euro en avoirs en plus." }}
          {{> afQuickField name="voucherValue" placeholder="ex: 0.5"}}
          {{> afQuickField placeholder="ex: 100" name="usageLimit" }}
          {{> afQuickField name="start" }}
          {{> afQuickField name="stop" }}
          {{> afQuickField name="placeId" value=currentUser.profile.currentPlace}}
          <div class="ui grid">
            <div class="two column row">
              <div class="column"><a class="fluid ui button" href="{{pathFor 'promotions'}}">Annuler</a></div>
              <div class="column"><button class="fluid ui positive button" type="submit">Enregistrer</button></div>
            </div>
          </div>
        {{/autoForm}}
      </div>

  {{/if}}
</template>
