<template name='sidebar'>
  <div class="ui left vertical inverted blue sidebar labeled icon menu">
    <a class="item {{isActiveRoute 'home'}}" href="{{pathFor 'home'}}">
      <i class="home icon"></i>
      Accueil
    </a>
    {{#if isSellerOrOwnerRole}}
      {{#if isMobile}}
        <a class="item {{isActiveRoute 'scanned'}}" data-action="scan">
          <i class="qrcode icon"></i>
          Scan
        </a>
      {{/if}}
      <a class="item {{isActiveRoute 'customers'}}" href="{{pathFor 'customers' placeId=currentUser.profile.currentPlace}}">
        <i class="users icon"></i>
        Clients
      </a>
      {{#if isInRole 'owners'}}
        <a class="item {{isActiveRoute 'myPlaces'}}" href="{{pathFor 'myPlaces'}}">
          <i class="line chart icon"></i>
          Commerces
        </a>
      {{/if}}
    {{/if}}
    <a class="item {{isActiveRoute 'loyaltyCards'}}" href="{{pathFor 'loyaltyCards'}}">
      <i class="star icon"></i>
      C. Fidélité
    </a>
    <a class="item {{isActiveRoute 'vouchers'}}" href="{{pathFor 'vouchers'}}">
      <i class="ticket icon"></i>
      Avoirs
    </a>
    {{#unless isSellerOrOwnerRole}}
      {{#if isMobile}}
      <a class="item {{isActiveRoute 'scanned'}}" data-action="scan">
        <i class="qrcode icon"></i>
        Scan
      </a>
      {{/if}}
      <a class="item {{isActiveRoute 'createPlace'}}" href="{{pathFor 'createPlace'}}">
        <i class="line chart icon"></i>
        Commerces
      </a>
    {{/unless}}
    <a class="item {{isActiveRoute 'calc'}}" href="{{pathFor 'calc'}}">
      <i class="calculator icon"></i>
      Calc.
    </a>
    <a class="item {{isActiveRoute 'about'}}" href="{{pathFor 'about'}}">
      <i class="question icon"></i>
      A propos
    </a>
  </div>
</template>
