<template name='imageEdit'>
  {{#if imageId}}
    <button class="ui right floated circular basic red icon button" data-action="deleteImage">
      <i class="large icons">
        <i class="picture icon"></i>
        <i class="corner grey remove icon"></i>
      </i>
    </button>
  {{else}}
    <form id="uploadImage" action="" method="post" enctype="multipart/form-data" class="hidden">
      <input type="file" name="imageFile" class="hidden" id="imageFile">
    </form>
    <button class="ui right floated circular basic green icon button" data-action="uploadImage">
      <i class="large icons">
        <i class="picture icon"></i>
        <i class="corner grey add icon"></i>
      </i>
    </button>
  {{/if}}
</template>
