<template name='about'>

    <div class="ui basic segment">
      <h2 class="ui header">A propos de Loyali</h2>
      <p class="ui justified text">
        C'est une application qui permet de gérer vos cartes de fidélité et vos avoirs.
      </p>
      <h4 class="ui header">Pour les commerçants</h4>
      <ul>
        <li>Gérer les cartes de fidélité de vos clients depuis votre smartphone</li>
        <li>Rendre la monnaie des tickets restaurant sous forme d’avoir</li>
        <li>Proposer des promotions à vos clients (bientôt)</li>
      </ul>
      <h4 class="ui header">Pour les clients</h4>
      <ul>
        <li>Regrouper toutes vos cartes de fidélité dans votre smartphone en les scannant</li>
        <li>Suivre le solde de points gagnés chez les commerçants partenaires</li>
        <li>Voir le montant de vos avoirs cumulés chez les commerçants partenaires</li>
      </ul>
      <h4 class="ui center aligned header">
        Avec Loyali, fini le porte monnaie surchargé inutilement.
      </h4>

    </div>
    <div class="ui basic center aligned segment">
      <h2 class="ui icon header">
        <img class="ui small image" src="{{loyaliLogo}}" alt="Loyali" />
        <div class="content">
          Cherchez les affiches <strong>Loyali</strong> autour de vous
          <div class="sub header">ou parlez en à vos commerçants favoris. Merci ツ</div>
        </div>
      </h2>
      <a class="ui button fluid" href="{{pathFor 'contact'}}">Contact</a>
      <br>
      <a class="ui button fluid" href="{{pathFor 'termsOfUse'}}">Conditions générales d'utilisation</a>
    </div>

</template>
