<template name='scanned'>
  <div class="ui main container">
    {{#if equals scanType 'userId'}}
    {{#if place}}
      {{#if isSellerOrOwnerRole}}
        <h2 class="ui center aligned icon header">
          {{#if customerImageId}}
            {{> image imageId=customerImageId classNames='tiny rounded centered'}}
          {{else}}
            <i class="blue user icon"></i>
          {{/if}}
          <div class="content">
            {{#if customerName}}
              {{customerName}}<br>
            {{/if}}
            {{customerEmail}}
            <div class="sub header">Dans le commerce {{place.name}}</div>
          </div>
        </h2>
        {{#if place.loyaltyCard.enabled}}
          <h4>Carte de fidélité{{#if customerEmail}} de {{customerEmail}}{{/if}}</h4>
          <button class="teal right floated ui circular icon button" id="loyaltyCardHelp" data-position="top right"><i class="help icon"></i></button>
          <div class="ui special popup">
            Chaque tranche d'achat de {{{formatMoney place.loyaltyCard.pointCost}}} ajoute 1 point à la carte de fidélité.
            <br><br>
            Quand la carte atteint {{place.loyaltyCard.size}} points, un avoir de {{{formatMoney place.loyaltyCard.voucherValue}}} est envoyé et le compte de points est remis a zéro.
          </div>
          <div class="ui left labeled button" tabindex="2">
            <a class="ui basic label" data-action="loyaltyCardHistory">
              <i class="yellow star icon"></i> {{userPoints}} / {{place.loyaltyCard.size}} points
            </a>
            <div class="ui green button" id="addOnePoint">
               +1
            </div>
            {{#if gt userPoints 0}}
            <div class="ui red button" id="removeOnePoint">
               -1
            </div>
            {{/if}}
          </div>
          {{#if loyaltyCardDate}}
          <p data-action="loyaltyCardHistory">
            <i class="history icon"></i> Mise à jour {{fromNow loyaltyCardDate}}<br>
          </p>
          {{/if}}
          <hr>
        {{/if}}
        <a class="teal right floated ui circular icon button" href="{{pathFor 'calc'}}"><i class="calculator icon"></i></a>
        <h4>Avoir{{#if customerEmail}} de {{customerEmail}}{{/if}}</h4>
          <div class="ui list">
            <div class="item" id="useVoucher" data-action="voucherHistory">
              <i class="large blue ticket icon"></i>
              <div class="content">
                <div class="header">{{{formatMoney voucher.value}}}</div>
                {{#if voucher.histories}}
                <div class="extra">
                  <i class="grey history icon"></i>Mis à jour {{#if voucher.updatedAt}}{{fromNow voucher.updatedAt}}{{else}}{{fromNow voucher.createdAt}}{{/if}}
                </div>
                {{/if}}
              </div>
            </div>
          </div>
          <div class="ui fluid left icon action input">
            <i class="euro icon"></i>
            <input type="number" step="any" placeholder="Montant" tabindex="1" id="voucherValue" size="3" value="{{voucherValue}}">
            <button class="ui green button" id="giveVoucher">
              Donner
            </button>
            {{#if gt voucher.value 0}}
            <button class="ui red button" id="takeVoucher">
              Prendre
            </button>
            {{/if}}
          </div>
          {{> histories}}
      {{/if}}
    {{else}}
    <div class="ui basic center aligned segment">
      <h2 class="ui icon header">
        <i class="green add user icon"></i>
        <div class="content">
          Vous avez scanné quelqu'un
          <div class="sub header">Mais vous n'avez pas enregistré votre commerce</div>
        </div>
      </h2>
      <p>
        <a class="ui button" href="{{pathFor 'createPlace'}}">Inscrivez votre commerce</a>
      </p>
      {{> loginText}}
    </div>
    {{/if}}
    {{else}}
    <div class="ui basic center aligned segment">
      <h2 class="ui icon header">
        <i class="green barcode icon"></i>
        <div class="content">
          Vous avez scanné un code au format {{scanType}}
          <div class="sub header">Sa valeur est {{scanId}}</div>
        </div>
      </h2>
      <p>
        C'est une de vos cartes de fidélité à enregistrer ?
        <button id="addThisCard" class="ui positive button">Ajouter cette carte</button>
      </p>
      {{> loginText}}
    </div>
    {{/if}}
  </div>
</template>
