<template name='scanned'>
  <div class="ui container">
    {{#if isInRole 'owners'}}
      <h3>Client : {{customerEmail}}</h3>
      <h4>Commerce</h4>
      <select class="ui dropdown" id="place" tabindex="0">
        {{#each myPlaces}}
        <option value="{{_id}}" {{selectedPlace}}>{{name}}</option>
        {{/each}}
      </select>
      <h4>Avoir</h4>
      <div class="ui left icon action input">
        <i class="euro icon"></i>
        <input type="number" step="any" placeholder="Montant de l'avoir" tabindex="1" id="voucherValue">
        <button class="ui teal button" id="giveVoucher">
          Envoyer
        </button>
      </div>
      <p>
        <div class="ui horizontal list">
        {{#each vouchers}}
          <div class="item" id="useVoucher">
            <i class="large money icon"></i>
            <div class="content">
              <div class="header">{{formatMoney value}}</div>
              Mis à jour {{#if updatedAt}}{{fromNow updatedAt}}{{else}}{{fromNow createdAt}}{{/if}}
            </div>
          </div>
        {{/each}}
        </div>
      </p>
      {{#if place.loyaltyCard.enabled}}
      <h4>Carte de fidélité</h4>
      <div class="ui left labeled button" tabindex="2">
        <a class="ui basic label">
          <i class="star icon"></i> {{userPoints}} / {{place.loyaltyCard.size}}
        </a>
        <div class="ui olive button" id="addOnePoint">
           +1 point
        </div>
      </div>
      {{#if loyaltyCardDate}}
        <p>
          <i class="time icon"></i>
          Mise à jour {{fromNow loyaltyCardDate}}<br>
          Chaque tranche d'achat de {{formatMoney place.loyaltyCard.pointCost}} ajoute 1 point à la carte de fidélité.<br>
          Quand la carte du client atteint {{place.loyaltyCard.size}} points, il reçoit automatiquement un avoir de {{formatMoney place.loyaltyCard.voucherValue}} et la carte est vidée.
        </p>
      {{/if}}
      {{/if}}
    {{/if}}
  </div>
</template>
