<template name='promotion'>
  <div class="ui main container">
    <div class="ui basic section">
      {{> image imageId=imageId classNames='ui centered medium rounded image'}}
      {{#if isPlaceOwner placeId}}
      <a href="{{pathFor 'editPromotion' promotionId=_id}}" class="teal right floated ui circular icon button"><i class="pencil icon"></i></a>
      {{/if}}
      <h3 class="ui header">{{name}}</h3>
      <p>
        {{description}}<br>
        Rapporte : {{{formatMoney voucherValue}}}<br>
        Début : {{fromNow start}}<br>
        Fin : {{fromNow stop}}<br>
      </p>
    </div>
  </div>
</template>
