<template name='loyaltyCards'>

    <a href="{{pathFor 'addCard'}}" class="green right floated ui circular big icon button" data-intro="Cliquez sur le + pour ajouter une carte de fidélité, vous pourrez la scanner" data-step="6" data-position="bottom-right-aligned"><i class="add icon"></i></a>
    <h2>Mes cartes de fidélité</h2>
    <div class="ui top attached tabular menu" id="loyaltyTabs">
      <a class="{{activeLoyaltyTab 'Loyali'}} item loyaltyTabHead" data-tab="Loyali" data-intro="Dans cet onglet sont rangées toutes vos cartes Loyali obtenus chez les commerçants partenaires" data-step="4" >Cartes Loyali</a>
      <a class="{{activeLoyaltyTab 'private'}} right item loyaltyTabHead" data-tab="private" data-intro="Dans cet onglet  sont rangées toutes vos cartes personelles des grandes que vous avez dématerialisées" data-step="5" data-position="bottom-right-aligned">Cartes personnelles</a>
    </div>
    <div class="ui bottom attached tab basic segment {{activeLoyaltyTab 'Loyali'}}" data-tab="Loyali">
      <div class="ui relaxed divided list">
        {{#each loyaltyCards}}
        <div class="item loyaltyCard">
          {{#if imageId}}
            {{> image imageId=imageId classNames='mini rounded'}}
          {{else}}
            <i class="large yellow star icon"></i>
          {{/if}}
          <div class="content">
            <a class="header" href="{{pathFor 'place' placeId=placeId}}">{{name}}</a>
            <div class="description">
              {{points}} / {{size}} point{{#if greaterThan size 1}}s{{/if}} <small>Mise à jour {{#if updatedAt}}{{fromNow updatedAt}}{{else}}{{fromNow createdAt}}{{/if}}</small>
            </div>
          </div>
        </div>
        {{else}}
        <div class="ui basic center aligned segment">
          <h2 class="ui icon header">
            <img class="ui tiny image" src="{{loyaliLogo}}" alt="icône Loyali" />
            <div class="content">
              Vous n'avez pas encore de cartes de fidélité Loyali
              <div class="sub header">Cherchez l'affiche <strong>Loyali</strong> dans vos commerces habituels ou parlez en à votre commerçant. Merci ツ</div>
            </div>
          </h2>
          {{> searchInput}}
        </div>
        {{/each}}
      </div>
    </div>
    <div class="ui bottom attached tab basic segment {{activeLoyaltyTab 'private'}}" data-tab="private">
      <div class="ui relaxed divided list">
        {{#each privateLoyaltyCards}}
        <div class="item privateLoyaltyCard">
          {{#if imageId}}
            {{> image imageId=imageId classNames='mini rounded'}}
          {{else}}
            <i class="large yellow star icon"></i>
          {{/if}}
          <div class="content">
            <a class="header" href="{{pathFor 'card' cardId=_id}}">{{name}}</a>
            <div class="description">
              {{code}} <small>{{reFormat format}}</small>
            </div>
          </div>
        </div>
        {{else}}
        <div class="ui basic center aligned segment">
          <h2 class="ui icon header">
            <i class="yellow star icon"></i>
            <div class="content">
              Vous n'avez pas encore ajouté de cartes de fidélité personelles
              <div class="sub header">Loyali vous permet de dématerialiser vos cartes de fidélité en les scannant.</div>
            </div>
          </h2>
          <a href="{{pathFor 'addCard'}}" class="ui positive fluid button">Ajouter une carte de fidélité</a>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="ui grid">
      <div class="one column row">
        <div class="column"><button type="button" class="ui labeled icon basic yellow fluid button" id="intro"><i class="help icon"></i>Aide</button></div>
      </div>
    </div>

</template>
