<template name='myPlaces'>
  <div class="ui container">
    {{ #if myPlaces }}
      <h3>Mes commerces</h3>
      <div class="ui four doubling link cards">
      {{#each myPlaces}}
        <a class="card" href="{{pathFor 'place' placeId=_id}}">
          <div class="image" >
            {{#if currentPlace}}
            <a class="ui teal right corner label">
              <i class="marker icon"></i>
            </a>
            {{/if}}
            {{#if enabled}}
            <a class="ui green left corner label">
              <i class="check icon"></i>
            </a>
            {{else}}
            <a class="ui red left corner label">
              <i class="remove icon"></i>
            </a>
            {{/if}}
            {{> image imageId=imageId }}
          </div>
          <div class="content">
            <div class="header">{{name}}</div>
            <div class="meta">
              <i class="grey history icon"></i> {{#if updatedAt}}{{fromNow updatedAt}}{{else}}{{fromNow createdAt}}{{/if}}<br>
              {{addresses.[0].zip}} {{addresses.[0].city}}
            </div>
            <div class="description">
              {{description}}
            </div>
          </div>
        </a>
      {{/each}}
      </div>
      <br>
      <a href="{{pathFor 'createPlace'}}" class="ui fluid button">Ajouter un commerce</a>
    {{ else }}
    <div class="ui stacked center aligned segment">
      <h3>Commerçants, utilisez allofid.</h3>
      <p>
        C'est gratuit pour toujours.
      </p>
      <button class="ui button" data-action="createPlace">Inscrivez votre commerce</button>
    </div>
    {{ /if }}
  </div>
</template>
