<template name='myPlaces'>

    <button type="button" class="teal right floated ui circular icon button" id="myPlacesHelp" data-position="top right"><i class="help icon"></i></button>
    <div class="ui special popup">
      Vous avez besoin d'aide ? Apellez Guillaume au <a href="tel:+33632424849">06 32 42 48 49</a>
    </div>
    {{ #if myPlaces }}
      <h3>Mes commerces</h3>
      <div class="ui four doubling link cards">
      {{#each myPlaces}}
        <a class="card" href="{{pathFor 'place' placeId=_id}}">
          <div class="image" >
            {{#if currentPlace}}
            <a class="ui teal right corner label">
              <i class="marker icon"></i>
            </a>
            {{/if}}
            {{#if enabled}}
            <a class="ui green left corner label">
              <i class="check icon"></i>
            </a>
            {{else}}
            <a class="ui red left corner label">
              <i class="remove icon"></i>
            </a>
            {{/if}}
            {{> image imageId=imageId }}
          </div>
          <div class="content">
            <div class="header">{{name}}</div>
            <div class="meta">
              <i class="grey history icon"></i> {{#if updatedAt}}{{fromNow updatedAt}}{{else}}{{fromNow createdAt}}{{/if}}<br>
              {{addresses.[0].zip}} {{addresses.[0].city}}
            </div>
            <div class="description">
              {{description}}
            </div>
          </div>
        </a>
      {{/each}}
      </div>
      <br>
      <a href="{{pathFor 'createPlace'}}" class="ui fluid button">Ajouter un commerce</a>
    {{ else }}
    <br>
    <div class="ui raised center aligned segment">
      <h2 class="ui icon header">
        <img class="ui tiny image" src="{{loyaliLogo}}" alt="Loyali" />
        <div class="content">
          Utilisez Loyali pour votre commerce
          <div class="sub header">C'est gratuit pour toujours et garanti sans pub.</div>
        </div>
      </h2>
      <p>
        <button type="button" class="ui button positive" data-action="createPlace">Inscrivez votre commerce</button>
      </p>
    </div>
    {{ /if }}

</template>
