<template name='vouchers'>
  <div class="ui main container">
    <h2>Mes avoirs</h2>
    <div class="ui relaxed divided list">
      {{#each vouchers}}
      <div class="item">
        {{#if imageId}}
          {{> image imageId=imageId classNames='mini rounded'}}
        {{else}}
          <i class="large blue ticket icon"></i>
        {{/if}}
        <div class="content">
          <a class="header" href="{{pathFor 'place' placeId=placeId}}">{{name}}</a>
          <div class="description">{{{formatMoney value}}} <small>Mis à jour {{#if updatedAt}}{{fromNow updatedAt}}{{else}}{{fromNow createdAt}}{{/if}}</small></div>
        </div>
      </div>
      {{else}}
      <div class="ui basic center aligned segment">
        <h2 class="ui icon header">
          <i class="blue ticket icon"></i>
          <div class="content">
            Vous n'avez pas encore d'avoirs
            <div class="sub header">Cherchez l'affiche <strong>Loyali</strong> dans vos commerces habituels ou parlez en à votre commerçant. Merci ツ</div>
          </div>
        </h2>
      </div>
      {{/each}}
    </div>
  </div>
</template>
