<template name='place'>
  <div class="ui container">
    {{#if isOwner}}
    <div class="ui basic segment">
      <a href="{{pathFor 'placeEdit' placeId=_id}}" class="teal right floated ui circular icon button"><i class="pencil icon"></i></a>
      <div class="ui slider checkbox">
        <input type="checkbox" name="enabled" checked="{{enabled}}" data-action="enablePlace">
        <label>Commerce {{#unless enabled}}in{{/unless}}actif</label>
      </div>
    </div>
    <div class="ui basic segment">
      <div class="ui center aligned statistics">
        <div class="statistic">
          <div class="value">
            {{customers.length}}
          </div>
          <div class="label">
            Client{{#if greaterThan customers.length 1}}s{{/if}}
          </div>
        </div>
        <div class="statistic">
          <div class="value">
            {{voucherCount}}
          </div>
          <div class="label">
            Avoir{{#if greaterThan voucherCount 1}}s{{/if}}
          </div>
        </div>
        <div class="statistic">
          <div class="value">
            {{loyaltyCardCount}}
          </div>
          <div class="label">
            Carte{{#if greaterThan loyaltyCardCount 1}}s{{/if}}
          </div>
        </div>
      </div>
    </div>
    {{/if}}
    <div class="ui basic segment">
      <h1 class="ui center aligned header">
        {{name}}
        <div class="sub header">{{description}}</div>
      </h1>
      {{> image imageId=imageId classNames='ui centered medium image'}}
      <div class="ui list">
        {{#each addresses}}
          <div class="item">
            <i class="map marker icon"></i>
            <div class="content">
              <a class="header">{{street}}</a>
              <div class="description">{{zip}} {{city}}</div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    <div class="ui basic segment">
      {{#if isOwner}}

      {{/if}}
      <div class="ui relaxed divided items">
      {{#if myVoucher}}
        <div class="item">
          <div class="content">
            <a class="header"><i class="big teal money icon"></i> Vous avez {{formatMoney myVoucher.value}} d'avoir disponible ici</a>
            <div class="meta">
              <span>Mis à jour {{#if myVoucher.updatedAt}}{{fromNow myVoucher.updatedAt}}{{else}}{{fromNow myVoucher.createdAt}}{{/if}}</span>
            </div>
            <div class="extra">
              <i class="time icon"></i>Voir historique
            </div>
          </div>
        </div>
      {{/if}}
      {{#if myLoyaltyCard}}
        <div class="item">
          <div class="content">
            <a class="header"><i class="big yellow star icon"></i> Vous avez {{myLoyaltyCard.points}} point{{#if greaterThan myLoyaltyCard.points 1}}s{{/if}} sur {{myLoyaltyCard.size}} de votre carte de fidélité</a>
            <div class="meta">
              <span>Mise à jour {{#if myLoyaltyCard.updatedAt}}{{fromNow myLoyaltyCard.updatedAt}}{{else}}{{fromNow myLoyaltyCard.createdAt}}{{/if}}</span>
            </div>
            <div class="description">
              <p>
                Chaque tranche d'achat de {{formatMoney loyaltyCard.pointCost}} ajoute 1 point à la carte de fidélité.<br>
                Quand votre carte atteint {{loyaltyCard.size}} points, vous recevez automatiquement un avoir de {{formatMoney loyaltyCard.voucherValue}} et le compte de points est remis a zéro.
              </p>
            </div>
            <div class="extra">
              <i class="time icon"></i>Voir historique
            </div>
          </div>
        </div>
      {{/if}}
      </div>

    </div>
  </div>
</template>
