<template name='place'>
  <div class="ui main container">
    {{#if isSellerOrOwnerRole}}
    <div class="ui raised segment">
      {{#if isOwner}}
        <a href="{{pathFor 'placeEdit' placeId=_id}}" class="teal right floated ui circular icon button"><i class="pencil icon"></i></a>
        <div class="ui slider checkbox">
          <input type="checkbox" name="enabled" checked="{{enabled}}" data-action="enablePlace">
          <label>Commerce {{#unless enabled}}in{{/unless}}actif</label>
        </div>
        <br>
        <br>
      {{/if}}
      <button class="ui {{#if currentPlace}}green{{/if}} fluid labeled icon button" data-action="setCurrentPlace">
        <i class="marker icon"></i>
        J'y {{#if currentPlace}}suis{{else}}vais{{/if}}
      </button>
      <br>
      <div class="ui three tiny statistics">
        <div class="ui statistic">
          <div class="value">
            {{or customers.length 0}}
          </div>
          <div class="label">
            Client{{#if greaterThan customers.length 1}}s{{/if}}
          </div>
        </div>
        <div class="ui statistic">
          <div class="value">
            {{voucherCount}}
          </div>
          <div class="label">
            Avoir{{#if greaterThan voucherCount 1}}s{{/if}}
          </div>
        </div>
        <div class="ui statistic">
          <div class="value">
            {{loyaltyCardCount}}
          </div>
          <div class="label">
            Carte{{#if greaterThan loyaltyCardCount 1}}s{{/if}}
          </div>
        </div>
      </div>
    </div>
    {{/if}}
    <div class="ui basic segment">
      <h1 class="ui center aligned header">
        {{name}}
        <div class="sub header">{{description}}</div>
      </h1>
      {{> image imageId=imageId classNames='ui centered medium rounded image'}}
      <div class="ui list">
        {{#each addresses}}
          <div class="item">
            <i class="map marker icon"></i>
            <div class="content">
              <a class="header">{{street}}</a>
              <div class="description">{{zip}} {{city}}</div>
            </div>
          </div>
          {{#if phone}}
          <div class="item">
            <i class="phone icon"></i>
            <div class="content">
              <a class="header" href="tel:{{phone}}">{{phone}}</a>
            </div>
          </div>
          {{/if}}
        {{/each}}
      </div>
      <div class="ui relaxed divided items">
      {{#if myLoyaltyCard}}
        <div class="item">
          <div class="content"  data-action="loyaltyCardHistory">
            <a class="header"><i class=" yellow star icon"></i> {{myLoyaltyCard.points}} point{{#if greaterThan myLoyaltyCard.points 1}}s{{/if}} sur {{myLoyaltyCard.size}} de votre carte</a>
            <div class="meta">
              &nbsp;<i class="grey history icon"></i> Mise à jour {{#if myLoyaltyCard.updatedAt}}{{fromNow myLoyaltyCard.updatedAt}}{{else}}{{fromNow myLoyaltyCard.createdAt}}{{/if}}
            </div>
            <div class="description">
              <p style="text-align: justify;text-justify: inter-word;">
                Chaque tranche d'achat de {{formatMoney loyaltyCard.pointCost}} ajoute 1 point à la carte de fidélité. Quand votre carte atteint {{loyaltyCard.size}} points, vous recevez automatiquement un avoir de {{formatMoney loyaltyCard.voucherValue}} et le compte de points est remis a zéro.
              </p>
            </div>
          </div>
        </div>
      {{/if}}
      {{#if myVoucher}}
        <div class="item" data-action="voucherHistory">
          <div class="content">
            <a class="header"><i class=" blue ticket icon"></i> {{formatMoney myVoucher.value}} d'avoir ici</a>
            <div class="meta">
              &nbsp;<i class="grey history icon"></i> Mis à jour {{#if myVoucher.updatedAt}}{{fromNow myVoucher.updatedAt}}{{else}}{{fromNow myVoucher.createdAt}}{{/if}}
            </div>
          </div>
        </div>
      {{/if}}
      </div>
    </div>
  </div>
  {{> histories}}
</template>
