<template name='termOfUse'>
  <div class="ui main container">
    <div class="ui basic segment">
      <p><b>Conditions générales d'utilisation du site internet loya.li de Loyali</b></p>

      <p>Le présent document a pour
      objet de définir les modalités et conditions dans lesquelles d’une part,
      loya.li, ci-après dénommé LOYALI, met à la disposition de ses utilisateurs le
      site, l’application, et les services disponibles sur le site de et
      d’autre part, la manière par laquelle l’utilisateur accède au site et à l’application
      et utilise ses services. </p>

      <p>Toute connexion au site et à l’application est subordonnée au respect des présentes conditions. </p>

      <p>Pour l’utilisateur, le simple
      accès au site et à l’application de LOYALI à l’adresse URL suivante loya.li implique
      l’acceptation de l’ensemble des conditions décrites ci-après. </p>

      <p><b>Propriété intellectuelle</b></p>

      <p>La structure générale du site
      de loya.li, ainsi que les textes, graphiques, images, sons et vidéos
      la composant, sont la propriété de l'éditeur ou de ses partenaires. Toute
      représentation et/ou reproduction et/ou exploitation partielle ou totale des
      contenus et services proposés par le site et par l’application loya.li, par quelque
      procédé que ce soit, sans l'autorisation préalable et par écrit de loya.li
      et/ou de ses partenaires est strictement interdite et serait susceptible de
      constituer une contrefaçon au sens des articles L 335-2 et suivants du Code de
      la propriété intellectuelle.</p>

      <p>Les marques &quot;loya.li
      &quot;, &quot;Loyali&quot; sont des marques déposées par Guillaume Darbonne. Toute
      représentation et/ou reproduction et/ou exploitation partielle ou totale de ces
      marques, de quelque nature que ce soit, est totalement prohibée.</p>

      <p><b>Liens hypertextes</b></p>

      <p>Le site loya.li et l’application Loyali
      peut contenir des liens hypertextes vers d’autres sites présents sur le réseau
      Internet. Les liens vers ces autres ressources vous font quitter le site et
      l’application loya.li </p>

      <p>Il est possible de créer un
      lien vers la page de présentation de ce site et l’application sans autorisation
      expresse de LOYALI. Aucune autorisation ou demande d’information préalable ne peut
      être exigée par l’éditeur à l’égard d’un site et l’application qui souhaite
      établir un lien vers le site et l’application de l’éditeur. Il convient
      toutefois d’afficher ce site et l’application dans une nouvelle fenêtre du
      navigateur. Cependant, LOYALI se réserve le droit de demander la suppression
      d’un lien qu’il estime non conforme à l’objet du site et l’application loya.li </p>

      <p><b>Responsabilité de l’éditeur</b></p>

      <p>Les informations et/ou
      documents figurant sur ce site et sur l’application et/ou accessibles par ce site
      et l’application proviennent de sources considérées comme étant fiables.</p>

      <p>Toutefois, ces informations
      et/ou documents sont susceptibles de contenir des inexactitudes techniques et
      des erreurs typographiques. </p>

      <p>LOYALI se réserve le droit de
      les corriger, dès que ces erreurs sont portées à sa connaissance. </p>

      <p>Il est fortement recommandé
      de vérifier l’exactitude et la pertinence des informations et/ou documents mis
      à disposition sur ce site. </p>

      <p>Les informations et/ou
      documents disponibles sur ce site et l’application sont susceptibles d’être
      modifiés à tout moment, et peuvent avoir fait l’objet de mises à jour. En
      particulier, ils peuvent avoir fait l’objet d’une mise à jour entre le moment
      de leur téléchargement et celui où l’utilisateur en prend connaissance. </p>

      <p>L’utilisation des
      informations et/ou documents disponibles sur ce site et l’application se fait
      sous l’entière et seule responsabilité de l’utilisateur, qui assume la totalité
      des conséquences pouvant en découler, sans que LOYALI puisse être recherché à
      ce titre, et sans recours contre ce dernier. </p>

      <p>LOYALI ne pourra en aucun cas
      être tenu responsable de tout dommage de quelque nature qu’il soit résultant de
      l’interprétation ou de l’utilisation des informations et/ou documents
      disponibles sur ce site.</p>

      <p><b>Accès
      au site et à l’application</b></p>

      <p>L’éditeur s’efforce de
      permettre l’accès au site et à l’application 24 heures sur 24, 7 jours sur 7,
      sauf en cas de force majeure ou d’un événement hors du contrôle de LOYALI, et
      sous réserve des éventuelles pannes et interventions de maintenance nécessaires
      au bon fonctionnement du site et de l’application et des services.</p>

      <p>Par conséquent, LOYALI ne
      peut garantir une disponibilité du site et de l’application et/ou des services,
      une fiabilité des transmissions et des performances en terme de temps de
      réponse ou de qualité. Il n’est prévu aucune assistance technique vis à vis de
      l’utilisateur que ce soit par des moyens électronique ou téléphonique.</p>

      <p>La responsabilité de l’éditeur
      ne saurait être engagée en cas d’impossibilité d’accès à ce site et
      l’application et/ou d’utilisation des services. </p>

      <p>Par ailleurs, LOYALI peut
      être amené à interrompre le site et l’application ou une partie des services, à
      tout moment sans préavis, le tout sans droit à indemnités. L’utilisateur
      reconnaît et accepte que LOYALI ne soit pas responsable des interruptions, et
      des conséquences qui peuvent en découler pour l’utilisateur ou tout tiers. </p>

      <p><b>Modification des conditions d’utilisation</b></p>

      <p>LOYALI se réserve la
      possibilité de modifier, à tout moment et sans préavis, les présentes
      conditions d’utilisation afin de les adapter aux évolutions du site et
      l’application et/ou de son exploitation. </p>

      <p><b>Règles d'usage d'Internet</b></p>

      <p>L’utilisateur déclare
      accepter les caractéristiques et les limites d’Internet, et notamment reconnaît
      que : </p>

      <p>LOYALI n’assume aucune
      responsabilité sur les services accessibles par Internet et n’exerce aucun
      contrôle de quelque forme que ce soit sur la nature et les caractéristiques des
      données qui pourraient transiter par l’intermédiaire de son centre serveur. </p>

      <p>L’utilisateur reconnaît que
      les données circulant sur Internet ne sont pas protégées notamment contre les
      détournements éventuels. La présence du logo&nbsp;&nbsp; loya.li institue une
      présomption simple de validité. La communication de toute information jugée par
      l’utilisateur de nature sensible ou confidentielle se fait à ses risques et
      périls. </p>

      <p>L’utilisateur reconnaît que les données circulant sur Internet peuvent être réglementées en termes d’usage ou être protégées par un droit de propriété. </p>

      <p>L’utilisateur est seul responsable de l’usage des données qu’il consulte, interroge et transfère sur
      Internet. </p>

      <p>L’utilisateur reconnaît que LOYALI
      ne dispose d’aucun moyen de contrôle sur le contenu des services accessibles
      sur Internet</p>

      <p><b>Droit applicable</b></p>


      <p>Tant le présent site et
      l’application que les modalités et conditions de son utilisation sont régis par
      le droit français, quel que soit le lieu d’utilisation. En cas de contestation
      éventuelle, et après l’échec de toute tentative de recherche d’une solution amiable,
      les tribunaux français seront seuls compétents pour connaître de ce litige.</p>

      <p>Pour toute question relative
      aux présentes conditions d’utilisation du site, vous pouvez nous écrire à
      l’adresse suivante : </p>

      <p>guillaume.darbonne@gmail.com </p>
    </div>
  </div>
</template>
