<template name='editCard'>
  <div class="ui container">
    {{> image imageId=imageId classNames='small right floated'}}
    {{> imageEdit imageId=imageId}}
    <h2>Editer votre carte de fidélité {{name}}</h2>
    {{#if isMobile}}
    <button id="scanCard" class="ui fluid button">Scanner la carte</button>
    {{/if}}
    {{#autoForm id="editCard" type="update" collection="PrivateLoyaltyCards" enctype="multipart/form-data" doc=this}}
      {{> afQuickField placeholder="schemaLabel" name="name" id="cardName"}}
      {{> afQuickField placeholder="schemaLabel" name="code" }}
      {{> afQuickField placeholder="schemaLabel" name="format" }}
      {{> afQuickField placeholder="schemaLabel" name="points"}}
      {{> afQuickField placeholder="schemaLabel" name="notes"}}
      <button class="fluid ui positive button" type="submit">Enregistrer</button>
      <a class="fluid ui button" href="{{pathFor 'loyaltyCards'}}">Annuler</a>
    {{/autoForm}}
  </div>
</template>
