<template name='editCard'>
  {{#with card}}
  <div class="ui container">
    {{#if imageId}}
      {{> image imageId=imageId classNames='small right floated'}}
    {{/if}}
    {{> imageEdit imageId=imageId}}
    <h2>Editer votre carte de fidélité {{name}}</h2>
    {{#if isMobile}}
    <button id="scanCard" class="ui fluid button">Scanner la carte</button>
    {{/if}}
    {{#autoForm id="editCard" type="update" collection="PrivateLoyaltyCards" enctype="multipart/form-data" doc=this}}
      {{> afQuickField placeholder="schemaLabel" name="name" id="cardName"}}
      {{> afQuickField placeholder="schemaLabel" name="code" }}
      {{> afQuickField placeholder="schemaLabel" name="format" }}
      {{> afQuickField placeholder="schemaLabel" name="points"}}
      {{> afQuickField placeholder="schemaLabel" name="notes" id="cardNotes"}}
      {{> afQuickField  name="imageId" class="hidden" id="imageId"}}
      {{> afQuickField  name="cardBrandId" class="hidden" id="cardBrandId"}}
      <button class="fluid ui positive button" type="submit">Enregistrer</button>
      <br>
      <a class="fluid ui button" href="{{pathFor 'loyaltyCards'}}">Annuler</a>
    {{/autoForm}}
    <br>
    <button class="fluid ui negative button deleteCard" >Supprimer</button>
  </div>
  {{/with}}
</template>
