<template name='addCard'>
  <div class="ui container">
    <h2>Enregistrez votre carte de fidélité</h2>
    {{#if isMobile}}
    <button id="scanCard" class="ui fluid button">Scanner la carte</button>
    {{/if}}
    {{#autoForm id="addCard" type="insert" collection="PrivateLoyaltyCards" enctype="multipart/form-data" doc=this}}
      {{> afQuickField placeholder="schemaLabel" name="name" id="cardName"}}
      {{> afQuickField placeholder="schemaLabel" name="code" value=cardCode}}
      {{> afQuickField placeholder="schemaLabel" name="format" value=cardFormat}}
      {{> afQuickField placeholder="schemaLabel" name="points"}}
      {{> afQuickField placeholder="schemaLabel" name="notes"}}
      <button class="fluid ui positive button" type="submit">Enregistrer</button>
      <a class="fluid ui button" href="{{pathFor 'loyaltyCards'}}">Annuler</a>
    {{/autoForm}}
  </div>
</template>
