<template name='home'>

    {{#if isSellerOrOwnerRole}}
      <div class="ui raised center aligned segment">
        <h3 class="ui header">Bienvenue sur votre Loyali</h3>
        {{#if isMobile}}
        <button type="button" class="ui labeled icon button fluid green" data-action="scan"><i class="qrcode icon"></i>Scanner un code</button>
        <br>
        {{/if}}
        <a class="ui labeled icon button fluid teal" href="{{pathFor 'customers' placeId=currentUser.profile.currentPlace}}"><i class="users icon"></i>Mes clients</a>
        <br>
        <a class="ui labeled icon button fluid yellow" href="{{pathFor 'place' placeId=currentUser.profile.currentPlace}}"><i class="marker icon"></i>Mon Commerce Actuel</a>
        {{#if isInRole 'owners'}}
        <br>
        <a class="ui labeled icon button fluid orange" href="{{pathFor 'myPlaces'}}"><i class="setting icon"></i>Mes commerces</a>
        {{/if}}
      </div>
    {{else}}
      {{#if isConnected}}
      <div class="ui raised center aligned segment" data-intro="QR Code qui vous sert d'identifiant auprès des commerçants qui utilisent Loyali" data-step="4" data-position="bottom-middle-aligned">
        <h3 class="ui header">Mon QR code</h3>
        {{> QrCode text=qrText }}
        <p>Faites le scanner par votre commerçant pour cumuler des points et des avoirs</p>
      </div>
      {{/if}}
    {{/if}}

    {{#unless isConnected}}
    <div class="ui basic center aligned segment">
      <h2 class="ui icon header">
        <img class="ui tiny image" src="{{loyaliLogo}}" alt="icône Loyali" data-action="loyaltyCards" data-intro="Cette icône Loyali est un raccourci vers vos cartes de fidélité" data-step="4" data-position="bottom-middle-aligned" />
        <div class="content">
          Gérez vos cartes de fidélité et vos avoirs
          <div class="sub header">{{baseline}}</div>
        </div>
      </h2>
      {{> loginText}}
    </div>
    <div class="ui raised segment">
      <h2 class="ui icon header center aligned">
         <i class="blue users icon" data-action="vouchers"></i>
        <div class="content">
          Utilisez Loyali pour votre commerce
          <div class="sub header">C'est gratuit pour toujours. Garanti sans pub, ni notification.</div>
        </div>
      </h2>
      <button type="button" class="teal right floated ui circular icon button" id="createPlaceHelp" data-position="top right"><i class="help icon"></i></button>
      <div class="ui special popup">
        C'est très simple d'ajouter votre commerce. C'est gratuit et ça ne prend que quelques minutes.<br>
        <br>
        Vous avez besoin d'aide ? Apellez Guillaume au <a href="tel:+33632424849">06 32 42 48 49</a>
      </div>
      <p>
        <button type="button" class="ui button positive" data-action="createPlace">Inscrivez votre commerce</button>
      </p>
    </div>
    {{else}}
    <div class="ui grid">
      <div class="one column row">
        <div class="column"><a type="button" class="ui labeled icon blue fluid button" href="{{pathFor 'loyaltyCards'}}"><i class="yellow star icon"></i>Mes cartes</a></div>
      </div>
    </div>
    {{/unless}}
    <div class="ui grid">
      <div class="two column row">
        <div class="column"><a type="button" class="ui labeled icon basic blue fluid button" href="{{pathFor 'about'}}"><i class="info icon"></i>Loyali</a></div>
        <div class="column"><button type="button" class="ui labeled icon basic yellow fluid button" id="intro"><i class="help icon"></i>Aide</button></div>
      </div>
    </div>
    <div class="ui grid">
      <div class="one column row">
        <div class="column"><a type="button" class="ui labeled icon basic fluid button" href="{{pathFor 'contact'}}"><i class="mail icon"></i>Contact</a></div>
      </div>
    </div>
    {{#unless isMobile}}
      <div class="ui raised center aligned segment">
        <h4>Disponible sur <a class="ui link" href="https://itunes.apple.com/fr/app/loyali/id1073418073" target="_blank"><i class="apple icon"></i>App Store</a> et <a href="https://play.google.com/store/apps/details?id=loya.ly.app" target="_blank"><i class="play icon"></i>Google Play</a></h4>
      </div>
    {{/unless}}
</template>
