<template name='home'>
  <div class="ui main container">
    {{#if isSellerOrOwnerRole}}
      <div class="ui raised center aligned segment">
        <h3 class="ui header">Bienvenue sur votre Loyali</h3>
        {{#if isMobile}}
        <button class="ui button fluid positive" data-action="scan">Scanner un code client</button>
        <br>
        {{/if}}
        <a class="ui button fluid teal" href="{{pathFor 'customers' placeId=currentUser.profile.currentPlace}}">Gérez vos clients</a>
        <br>
        <a class="ui button fluid blue" href="{{pathFor 'myPlaces'}}">Gérez vos commerces</a>
        <br>
        <a class="ui button fluid" href="{{pathFor 'contact'}}">Contacter Loyali</a>
      </div>
    {{/if}}
    {{#unless isMobile}}
      <div class="ui raised center aligned segment">
        <h4>Disponible sur <a href="https://play.google.com/store/apps/details?id=loya.ly.app" target="_blank"><i class="play icon"></i>Google Play</a></h4>
         <!-- et <a class="ui disabled link"><i class="apple icon"></i>App Store</a> -->
      </div>
    {{/unless}}
    <form id="search">
      <div class="ui large fluid icon input">
        <input type="text" placeholder="Commerce, ville, cp" id="searchQuery">
        <i class="search icon"></i>
      </div>
    </form>
    <div class="ui basic center aligned segment">
      <h2 class="ui icon header">
        <i class="yellow star icon" data-action="loyaltyCards" data-intro="Cette étoile est un raccourci vers vos cartes de fidélité" data-step="4" data-position="bottom-middle-aligned"></i>
        <div class="content">
          Gérez vos cartes de fidélité et vos avoirs
          <div class="sub header">{{baseline}}</div>
        </div>
      </h2>
      {{> loginText}}
    </div>

    {{#unless isInRole 'owners'}}
    <div class="ui raised center aligned segment">
      <h2 class="ui icon header">
        <img class="ui tiny image" src="{{loyaliLogo}}" alt="Loyali" data-intro="Ce ticket est un raccourci vers vos avoirs" data-step="5" data-position="bottom-middle-aligned" data-action="vouchers" />
        <div class="content">
          Utilisez Loyali pour votre commerce
          <div class="sub header">C'est gratuit pour toujours  et garanti sans pub.</div>
        </div>
      </h2>
      <p>
        <button class="ui button positive" data-action="createPlace">Inscrivez votre commerce</button>
      </p>
    </div>
    {{/unless}}
    <button class="ui button fluid" id="intro">Besoin d'aide ?</button>
  </div>
  {{> footer}}
</template>
