<template name='editProfile'>

    <div class="ui basic segment">
      {{#if user.profile.imageId}}
        {{> image imageId=user.profile.imageId classNames='tiny rounded right floated'}}
      {{/if}}
      {{> imageEdit imageId=user.profile.imageId}}
      <h3 class="ui header">Editez votre profil</h3>
      <form id="editProfile" enctype="multipart/form-data" class="ui form">
        <div class="field">
          <label for="name">Nom complet</label>
          <input type="text" placeholder="Nom complet" name="name" id="name" value="{{user.profile.name}}">
        </div>
        <div class="field">
          <label for="name">Adresse email</label>
          <input type="email" placeholder="Adresse email" name="email" id="email" value="{{contactEmail user}}">
        </div>
        <div class="ui grid">
          <div class="two column row">
            <div class="column"><a class="fluid ui button" href="{{pathFor 'profile'}}">Annuler</a></div>
            <div class="column"><button class="fluid ui positive button" type="submit">Enregistrer</button></div>
          </div>
        </div>
        <hr>
        <button type="button" class="ui fluid red button" data-action="deleteMe">
          Supprimer ce compte
        </button>
      </form>
    </div>

</template>
