<template name='promotions'>

    <div class="ui basic segment">
      <a href="{{pathFor 'editPromotion'}}" class="green right floated ui circular icon button"><i class=" plus icon"></i></a>
      <h3 class="UI header">Mes promotions</h3>
      <div class="ui middle aligned animated list">
        {{#each promotions}}
        <div class="item">
          {{#if enabled}}
          <i class="green check icon"></i>
          {{else}}
          <i class="red close icon"></i>
          {{/if}}
          <div class="middle aligned content">
            <a class="header" href="{{pathFor 'promotion' promotionId=_id}}">{{name}} <small>{{description}}</small></a>
            <div class="description">
              {{#if stop}}
                Début {{fromNow start}}, fin {{fromNow stop}}.
              {{/if}}
              {{#if usageLimit}}
                Reste {{usageLimit}} utilisation{{#if greaterThan usageLimit 1}}s{{/if}}.
              {{/if}}
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

</template>
