<template name='owners'>
  {{#if isOwner}}
  <div class="ui main container">
    <h2 class="ui header">Propriétaires</h2>
    <div class="ui list">
    {{#each owners}}
    <div class="item" id="{{userId}}">{{email}}   <i class="red remove icon" id="remove"></i></div>
    {{/each}}
    </div>
    <h4 class="ui header">Ajouter un propriétaire</h4>
    <div class="ui action fluid input">
      <input type="email" id="ownerMail" placeholder="Adresse email">
      <button class="ui green icon button" id="searchOwner"><i class="search icon"></i></button>
    </div>
  </div>
  {{/if}}
</template>
