<template name='placeEdit'>
  {{#if isOwner}}
  <div class="ui container">
    {{#if imageId}}
      {{> image imageId=imageId classNames='small rounded right floated'}}
    {{/if}}
    {{> imageEdit imageId=imageId}}
    <h2 class="ui header">Editer {{name}}</h2>
    <h4 class="ui header"><a href="{{pathFor 'owners' placeId=_id}}"><i class="users icon"></i>{{owners.length}} propriétaire{{#if greaterThan owners.length 1}}s{{/if}}{{#if sellers}} et {{sellers.length}} vendeur{{/if}}{{#if greaterThan sellers.length 1}}s{{/if}}</a></h4>
    {{#autoForm id="editPlace" type="update" collection="Places" enctype="multipart/form-data" doc=this}}
      {{> afQuickField placeholder="schemaLabel" name="name"}}
      {{> afQuickField placeholder="schemaLabel" name="description"}}
      {{> afQuickField placeholder="schemaLabel" name="addresses.0.street"}}
      {{> afQuickField placeholder="schemaLabel" name="addresses.0.zip"}}
      {{> afQuickField placeholder="schemaLabel" name="addresses.0.city"}}
      {{> afQuickField placeholder="schemaLabel" name="addresses.0.country"}}
      {{> afQuickField placeholder="schemaLabel" name="addresses.0.phone"}}
      {{> afQuickField placeholder="schemaLabel" name="loyaltyCard.enabled" checkboxType="slider"}}
      <div class="loyaltyCard">
        {{#if loyaltyCard.pointCost}}
        <p style="text-align: justify;text-justify: inter-word;">
          Chaque tranche d'achat de {{formatMoney loyaltyCard.pointCost}} ajoute 1 point à la carte de fidélité. Quand la carte du client atteint {{loyaltyCard.size}} points, il reçoit automatiquement un avoir de {{formatMoney loyaltyCard.voucherValue}} et le compte de points est remis a zéro.
        </p>
        {{/if}}
        {{> afQuickField defaultValue="10" name="loyaltyCard.pointCost"}}
        {{> afQuickField defaultValue="10" name="loyaltyCard.size"}}
        {{> afQuickField defaultValue="5" name="loyaltyCard.voucherValue"}}
      </div>
      <p>
      </p>
      <button class="fluid ui positive button" type="submit">Enregistrer</button>
    {{/autoForm}}
    <br>
    <a class="fluid ui button" href="{{pathFor 'place' placeId=_id}}">Annuler</a>
    <br>
    <hr>
    <button class="negative ui fluid button" data-action="deletePlace">Supprimer</button>
  </div>
  {{/if}}
</template>
