<template name='cropper'>
  <div class="ui main container">
    <div class="ui basic segment">
      <img src="" alt=""  class="ui centered medium image" id="cropping" />
      <br>
      <button class="ui labeled icon button" id="rotate">
        <i class="horizontally flipped undo icon"></i>
        Tourner
      </button>
      <button class="right floated ui right labeled positive icon button" id="save">
        <i class="check icon"></i>
        Enregistrer
      </button>
    </div>
  </div>
</template>
