<template name='histories'>
  <div class="ui fullscreen modal histories-modal">
    <div class="actions">
      <i class="grey history icon"></i>{{placeName}}
      <div class="ui small basic green approve icon button"><i class="close icon"></i></div>
    </div>
    <div class="content">
      <div class="ui feed">
        {{#if histories}}
        {{#each reverseArray histories}}
        <div class="event">
          <div class="content">
            <div class="summary">
              {{plusSign what}}
              <div class="date">
                {{fromNow when}}
              </div>
            </div>
          </div>
        </div>
        {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
</template>
