<template name='histories'>
  <div class="ui modal histories-modal">
    <i class="close icon"></i>
    <div class="header">
      <i class="grey history icon"></i>{{placeName}}
    </div>
    <div class="content">
      <div class="ui feed">
        {{#if histories}}
        {{#each reverseArray histories}}
        <div class="event">
          <div class="content">
            <div class="summary">
              {{{plusSign what}}}
              <div class="date">
                {{fromNow when}}
              </div>
            </div>
          </div>
        </div>
        {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
</template>
