<template name='usePromotion'>
  <div class="ui basic segment">
  <h3 class="ui header">Promotion : {{name}}</h3>
  <p>
    {{description}}
  </p>
  <table class="ui single line striped unstackable table">
    <tbody>
      {{#if voucherValue}}
      <tr>
        <td><h4 class="ui header">Rapporte un avoir de</h4></td>
        <td class="right aligned">{{{formatMoney voucherValue}}}</td>
      </tr>
      {{/if}}
      {{#if usageLimit}}
      <tr>
        <td><h4 class="ui header">Utilisation{{#if greaterThan usageLimit 1}}s{{/if}} restante{{#if greaterThan usageLimit 1}}s{{/if}}</h4></td>
        <td class="right aligned">{{usageLimit}}</td>
      </tr>
      {{/if}}
      {{#if start}}
      <tr>
        <td><h4 class="ui header">Début</h4></td>
        <td class="right aligned">{{fromNow start}}</td>
      </tr>
      {{/if}}
      {{#if stop}}
      <tr>
        <td><h4 class="ui header">Fin</h4></td>
        <td class="right aligned">{{fromNow stop}}</td>
      </tr>
      {{/if}}
    </tbody>
  </table>
  {{#with place}}
    {{#if isSellerOrOwner}}
      <select id="customer" name="customer" class="fluid ui dropdown">
        <option value="">Sélectionnez un client</option>
        {{#each sortArray customers 'email'}}
          <option value="{{customerId}}" {{selectedCustomer}}>{{name}} {{email}}</option>
        {{/each}}
      </select>
      {{#if isMobile}}
        <p class="ui header aligned center">
          Ou
        </p>
        <button type="button" class="ui labeled icon button fluid green" data-action="scan"><i class="qrcode icon"></i>Scanner un code client</button>
      {{/if}}
    {{/if}}
  {{/with}}
  </div>
</template>
