<template name='card'>
  {{#with card}}
    <br>
    <div class="ui {{#unless isMobile}}one{{/unless}} stackable cards centered">
      <div class="card">
        {{#if imageId}}
        <div class="image">
          {{> image imageId=imageId}}
        </div>
        {{/if}}
        <div class="content">
          <a class="header">{{name}}</a>
          <div class="meta">
            <span class="date">{{notes}}</span>
          </div>
          <div class="description center aligned">
            {{#if isQrCode format}}
              {{> QrCode text=code}}
            {{else}}
              <canvas id="barcodeCanvas" width="300" height="100"></canvas>
            {{/if}}
            <p>{{code}}</p>
          </div>
        </div>
        {{#if points}}
        <div class="extra content">
          <a>
            <i class="arrow right icon"></i>
            {{points}}
          </a>
        </div>
        {{/if}}
        <a href="{{pathFor 'editCard' cardId=_id}}" class="ui bottom attached basic orange button">
          <i class="pencil icon"></i>
          Editer
        </a>
      </div>
    </div>
  {{/with}}
</template>
