<template name='card'>
  {{#with card}}

    <div class="ui center aligned basic segment">
      <h1 class="ui header">
        {{name}}
        <div class="sub header">{{points}}</div>
      </h1>
      {{#if imageId}}
        {{> image imageId=imageId classNames='small centered'}}<br>
      {{/if}}
      {{#if isQrCode format}}
        {{> QrCode text=code classNames="large centered"}}
      {{else}}
        <canvas id="barcodeCanvas" width="300" height="100"></canvas>
      {{/if}}
      <h5 class="ui header">{{code}}</h5>
      <p>
        {{notes}}
      </p>
      <a href="{{pathFor 'loyaltyCards'}}" class="left floated ui circular icon button"><i class="arrow left icon"></i></a>
      <a href="{{pathFor 'editCard' cardId=_id}}" class="teal right floated ui circular icon button"><i class="pencil icon"></i></a>
    </div>

  {{/with}}
</template>
